<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CreateInfo</title>
</head>
<body>

<h1>Create Employee</h1>
<form th:action="@{/employee/create}" method="post" th:object="${employee}">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}"/>
    </div>
    <div>
        <label for="position">Position:</label>
        <input type="text" id="position"  name="position"/>
    </div>
    <button type="submit">Create</button>
</form>
<a href="/employee/info"><button>Back</button></a>

</body>
</html>